/*======reset css======*/
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	/*移动端常用布局是非固定像素*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/*清楚点击高亮效果*/
	tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}
body {
	font-size: 14px;
	font-family: "Microsoft YaHei",sans-serif;
	color: #333;
}
a {
	color: #333;
	text-decoration: none;
}
ul,ol {
	list-style: none;
}
input,textarea {
	border: none;
	outline: none;
	/*文本框不可拉升 即不许改变尺寸*/
	resize: none;
	/*元素的外观 none没有任何样式*/
	-webkit-appearance:none;
}

/*======common css======*/
.f_left {
	float: left;
}
.f_right{
	float: right;
}
/*清除浮动*/
.clearFix::before,
.clearFix::after {
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	line-height: 0;
}
[class^="icon_"],[class*=" icon_"]{
	background-repeat: no-repeat;
	background-size: 200px 200px;
	background-image: url(../images/sprites.png);
}