.main {
	height: 480px;
	/*background-color: skyblue;*/
	position: relative;
}
.main_inner {
	height: 480px;
	/*background-color: pink;*/
	position: relative;
	z-index: 10;
}
.ad {
	height: 480px;
	background: url(../images/bg.png) no-repeat top center;
	position: absolute;
	width: 100%;/*很重要 当absolute后 转为行内块 没有默认宽度会无显示需要指定宽度 根据内容多少定宽度*/
	top: 0;
	left: 0;
}
.ad a {
	display: block;
	width: 100%;
	height: 100%;
}
.main_left {
	width: 190px;
	height: 480px;
	background-color: #6E6568;
	float: left;
}
.main_left ul {
	margin-top: 10px;
}
.main_left li a {
	color: #FFF;
	height: 28px;
	display: block;
	text-decoration: none;
	text-align: left;
	padding-left: 20px;
}
.main_left li:hover {
	background-color: #999395;
}
.main_mid {
	width: 790px;
	height: 480px;
	/*background-color: hotpink;*/
	float: left;
	margin-left: 10px;
}
.banner {
	height: 340px;
	background-color: green;
	margin-bottom: 10px;
	position: relative;
}
.pic1 img {
	float: left;
	width: 390px;
	height: 130px;
}
.pic2 img {
	float: right;
	width: 390px;
	height: 130px;
}
.landr_l, .landr_r {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	display: block;
	width: 30px;
	height: 60px;
	background: rgb(0,0,0,.3); 
	float: left;
	color: white;
	text-decoration: none;
	text-align: center;
	line-height: 60px;
	font-size: 25px;
}
.landr_l {
	left: 0;
}
.landr_r {
	right: 0;
}
.banner ol {
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 180px;
	height: 20px;
	margin-left: -90px;
	background: rgb(255,255,255,.3);
	border-radius: 10px;/*高度的一般可以让左右两侧层半圆状*/
}
.banner ol li {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #FFFFFF;
	float: left;
	margin: 4px 5px;

}
.banner .first {
	margin-left: 7px;
}
.current {
	background-color: #F10215!important;
	cursor: pointer;
}
.main_right {
	width: 190px;
	height: 480px;
	/*background-color: pink;*/
	float: right;
}
.user {
	height: 95px;
	/*background-color: green;*/
	margin: 20px 15px 0 15px; 
	position: relative;
}
.user_info {
	height: 40px;
	padding-left: 54px;
	font-size: 12px;
	color: #747474;
}
.user_info .tx {
	position: absolute;
	left: 7px;
	display: block;
	width: 40px;
	height: 40px;
	/*background: url(../images/no_login.jpg) no-repeat;*/
}
.user_info a img {
	width: 100%;
	height: 100%;
}
.user_info a {
	font-size: 12px;
	color: #747474;
	text-decoration: none;
}
.getin:hover {
	color: #F10215;
}
.user_profit a {
	font-size: 12px;
	color: #F10215;
	text-decoration: none;
	width: 70px;
	height: 20px;
	border: 2px solid #F10215;
}
.user_profit a:hover {
	background-color: #F10215;
	color: white;
}
.user_profit .lll {
	margin: 20px 10px 10px 7px;
}
.user_profit {
	margin-top: 15px;
}
.sale {
	height: 148px;
	/*background-color: skyblue;*/
	border-top: 1px solid #747474;
	border-bottom: 1px solid #747474;
	padding: 5px 15px 0px;
	margin-right: 1px;
}
.sale .saleup {
	width: 156px;
	height: 18px;
	border-bottom: 1px solid #747474;
	padding: 2px 0px 2px 2px;
}
.sale .saleup a {
	font-size: 12px;
	color: #747474;
	text-decoration: none;
	height: 16px;
	margin: 0px 10px 2px 0px; 
}
.sale .saleup a:hover {
	color: #F10215;
}
.sale .saleup .rightborder {
	border-bottom: 2px solid #F10215;
	border-right: 1px solid #747474;
	padding-right: 15px;
}
.sale .saledown a {
	display: block;
	font-size: 12px;
	color: #747474;
	text-decoration: none;
	margin-top: 14px;
}
.sale .saledown a:hover {
	color: #F10215;
}
.special {
	height: 210px;
	/*background-color: hotpink;*/
	border-left: 1px solid #747474;
}
.special li {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 44px;
	height: 69px;
	border-right: 1px solid #747474; 
	border-bottom: 1px solid #747474; 
	float: left;/*连续在盒子里排列用浮动最方面 如果父级没有高度还要清除浮动 防止浮动塌陷*/
	padding-left: 2px;
}
.special li a {
	width: 28px;
	height: 45px;
	display: block;
	background: url(../images/sprite.png) no-repeat -86px 0px;
}